<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View All Staff</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/side.css' %}">
    <link rel="stylesheet" href="{% static 'css/all_users.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h3>Hello Admin</h3>
            <ul>
            <li><a href="{% url 'check_point' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="{% url 'manage_buildings' %}"><i class="fas fa-building"></i> Manage Buildings</a></li>
            <li><a href="{% url 'view_all_preferences' %}"><i class="fas fa-list-alt"></i> View Preferences</a></li>
            <li><a href="{% url 'view_all_users' %}"><i class="fas fa-users"></i> View Users</a></li>
            </ul>
        </div>
        <div class="all_users">
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search by name..." onkeyup="filterTable()"/>
            </div>
            <div class="table-container">
                <div class="print-container">
                    <button onclick="printTable()">Print to PDF</button>
                </div>
                <h2>Senior Members</h2>
                <table id="preferencesTable">
                    <thead>
                        <tr>
                            <th>Staff Number</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Mobile Number</th>
                            <th>Date of University Appointment</th>
                            <th>Present University Bungalow</th>
                            <th>Date of Occupation of Accomodation</th>
                            <th>Study leave from</th>
                            <th>Study leave to</th>
                            <th>Marital Status</th>
                            <th>Spouse ID</th>
                            <th>Duty Status</th>
                            <th>Duty Status Type</th>
                            <th>Number of Children</th>
                            <th>Date of Duty</th>
                            <th>Present Accomodation</th>
                            <th>Preferences</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff_number, details in preferences_dict.items %}
                        {% with preferences=details.preferences %}
                        {% for preference in preferences %}
                        <tr>
                            {% if forloop.first %}
                            <td rowspan="{{ details.preferences|length }}">
                                {{ staff_number }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.name }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.department }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.mobile_Number }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.dateOf_Uni_Appointment }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.presentUni_bungalow }}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.date_of_occupation_ofAccomodation}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.studyLeave_from}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.studyLeave_to}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.marital_status}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.spouse_id}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.duty_status}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.duty_status_type}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.num_of_children}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.date_of_duty}}
                            </td>
                            <td rowspan="{{ details.preferences|length }}">
                                {{ details.present_accommodation}}
                            </td>
                            {% endif %}
                            <td>{{ preference }}</td>
                        </tr>
                        {% endfor %}
                        {% endwith %}
                        {% empty %}
                        <tr>
                        <td colspan="4">No preferences available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <!-- Table for Senior Staff without Preferences -->
                <h2>Senior Staff</h2>
                <table id="seniorPreferencesTable">
                    <thead>
                        <tr>
                            <th>Staff Number</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Mobile Number</th>
                            <th>Date of University Appointment</th>
                            <th>Present University Bungalow</th>
                            <th>Date of Occupation of Accomodation</th>
                            <th>Marital Status</th>
                            <th>Number of Children</th>
                            <th>Total Points</th>
                            <th>Present Accomodation</th>
                            <th>Preferences</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff_number, details in senior_preferences_dict.items %}
                            {% with preferences=details.preferences %}
                                {% if preferences %}
                                    {% for preference in preferences %}
                                        <tr>
                                            {% if forloop.first %}
                                                <td rowspan="{{ details.preferences|length }}">{{ staff_number }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.name }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.department }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.mobile_Number }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.dateOf_Uni_Appointment }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.presentUni_bungalow }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.date_of_occupation_ofAccomodation }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.marital_status }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.num_of_children }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.total_points }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.present_accommodation }}</td>
                                            {% endif %}
                                            <td>{{ preference }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>{{ staff_number }}</td>
                                        <td>{{ details.name }}</td>
                                        <td>{{ details.department }}</td>
                                        <td>{{ details.mobile_Number }}</td>
                                        <td>{{ details.dateOf_Uni_Appointment }}</td>
                                        <td>{{ details.presentUni_bungalow }}</td>
                                        <td>{{ details.date_of_occupation_ofAccomodation }}</td>
                                        <td>{{ details.marital_status }}</td>
                                        <td>{{ details.num_of_children }}</td>
                                        <td>{{ details.total_points }}</td>
                                        <td>{{ details.present_accommodation }}</td>
                                        <td>No preferences available</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                            <tr>
                                <td colspan="12">No staff data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
                    <h2>Junior Staff</h2>
                    <table id="juniorPreferencesTable">
                        <thead>
                            <tr>
                                <th>Staff Number</th>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Mobile Number</th>
                                <th>Date of University Appointment</th>
                                <th>Present University Bungalow</th>
                                <th>Marital Status</th>
                                <th>Number of Children</th>
                                <th>Total Points</th>
                                <th>Preferences</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for staff_number, details in junior_preferences_dict.items %}
                            {% with preferences=details.preferences %}
                                {% if preferences %}
                                    {% for preference in preferences %}
                                        <tr>
                                            {% if forloop.first %}
                                                <td rowspan="{{ details.preferences|length }}">{{ staff_number }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.name }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.department }}</td>
                                                <td rowspan="{{ details.preferences|length }}">{{ details.mobile_Number }}</td>
                                                <td rowspan="{{ details.dateOf_Uni_Appointment }}</td>
                                                <td rowspan="{{ details.presentUni_bungalow }}</td>
                                                <td rowspan="{{ details.marital_status }}</td>
                                                <td rowspan="{{ details.num_of_children }}</td>
                                                <td rowspan="{{ details.total_points }}</td>
                                            {% endif %}
                                            <td>{{ preference }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td>{{ staff_number }}</td>
                                        <td>{{ details.name }}</td>
                                        <td>{{ details.department }}</td>
                                        <td>{{ details.mobile_Number }}</td>
                                        <td>{{ details.dateOf_Uni_Appointment }}</td>
                                        <td>{{ details.presentUni_bungalow }}</td>
                                        <td>{{ details.marital_status }}</td>
                                        <td>{{ details.num_of_children }}</td>
                                        <td>{{ details.total_points }}</td>
                                        <td>No preferences available</td>
                                    </tr>
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                            <tr>
                                <td colspan="12">No staff data available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>

    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("preferencesTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Get the name column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function printTable() {
            var printContents = document.getElementById("preferencesTable").outerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
</body>
</html>
